[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Theunknown18
	email = 111179461+Theunknown18@users.noreply.github.com
